# Ignore node_modules and build artifacts
node_modules/
src/__tests__/*
example/
ios/
android/
dist/
coverage/
test/
tests/
__tests__/
scripts/
docs/
*.log
.git/
.gitignore
.vscode/
*.iml
.idea/
.DS_Store
*.lock
*.map
*.md
*.yml
